h3 {{houseDetails.SLAs_NOME}} - {{houseDetails.SLAs_SIGLA}}

.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Detalhes
      .panel-body
        p {{houseDetails.SLAs_DESC}}
.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Mesa Diretora
      .panel-body
        .row
          .col-md-2.text-center(ng-repeat="representative in houseDetails.SLAs_MESA_DIRETORA")
            .thumbnail
              .caption
                a(ui-sref="app.representative({ id: '{{representative.id}}' })")
                  img.thumb128.b(ng-src="data:image/jpeg;base64,{{representative.photo}}")
                  strong.sigalei-color {{representative.Nome}}
                p {{representative.Cargo}}

.row( ng-hide="houseDetails.SLAs_SIGLA == 'CN' ")
  .col-lg-12
    .panel
      .panel-heading
        h3 Deputados
      .panel-body
        table.table.table-bordered.table-striped.text-center(ng-table='representativeTableParams', show-filter="true")
          tbody
            tr(ng-repeat="representative in $data")
              td(data-title=" 'Nome' ", sortable="'nome'", filter="{ 'nome': 'text' }")
                a(ui-sref="app.representative({ id: '{{representative._id}}' })") {{representative.nome}}
              td(data-title=" 'Legislatura' ", sortable="'legislatura'", filter="{ 'legislatura': 'text' }") {{representative.legislatura | legislature}}
              td(data-title=" 'Partido' ", sortable="'partido'", filter="{ 'partido': 'text' }") {{representative.partido}}
              td(data-title=" 'Situação' ", sortable="'status'", filter="{ 'status': 'text' }") {{representative.status}}
              td(ng-show= "checkHouse()", data-title=" 'Estado' ", sortable="'uf_rep'", filter="{ 'uf_rep': 'text' }") {{representative.uf_rep}}

.row
  .col-lg-6
    .panel
      .panel-heading
        h3 Comissões
      .panel-body
        table.table.table-bordered.table-striped.text-center(ng-table='committeesTableParams', show-filter="true")
          tbody
            tr(ng-repeat="committee in $data")
              td(data-title=" 'Sigla' ", sortable="'initials'", filter="{ 'initials': 'text' }") {{committee.initials}}
              td(data-title=" 'Nome' ", sortable="'name'", filter="{ 'name': 'text' }")
                a(ui-sref="app.committee({ house:committee.house, committeeID: committee.refCode })") {{committee.name}}

  .col-lg-6
    .panel
      .panel-heading
        h3 Eventos
      .panel-body
        .btn-group
          button(
            mwl-date-modifier
            class="btn btn-primary"
            date="calendarDay"
            decrement="calendarView"
            Previous) Anterior

          button(
            mwl-date-modifier
            class="btn btn-default"
            date="calendarDay"
            set-to-today
            Today) Hoje

          button(
            mwl-date-modifier
            class="btn btn-primary"
            date="calendarDay"
            increment="calendarView"
            Next) Próximo
        .btn-group.pull-right
          button.btn.btn-default(ng-click="calendarView= 'week' ") Semana
          button.btn.btn-default(ng-click="calendarView= 'day' ")    Dia

        mwl-calendar(
            view="calendarView"
            current-day="calendarDay"
            events="events"
            on-event-click="showEvent(calendarEvent)"
            view-title="calendarTitle"
            auto-open="false")

script(type="text/ng-template" id="modalContent.html")
  .modal-header
    h3.modal-titleEvent {{event.title}}
  .modal-body
    .form-group
      label Data:&nbsp;
      span {{ event.startsAt | date:"dd/mm/yyyy" }}
    .form-group
      label Horário:&nbsp;
      span {{ event.startsAt | date:"HH:mm" }}

  .modal-footer
    button.btn.btn-primary(ng-click="$close()") OK
</script>
